// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_partial";

$colors: #f00;

h2{
	color: $colors;
}

#comments{
	p{
		color: #00f;
	}

	strong{
		font-size: 20px;
	}
}

.comment{
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  margin-bottom: 10px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.comment { @include border-radius(10px); }

#comments{
	width: 100%;
}

.comment{
	float: left;
	width: 318px / 960px * 100%;
	padding: 0;
}